@model PHSach.Models.Report_Agency

@{
    ViewBag.Title = "Details";
    var a = (List<PHSach.Models.Detail_Report_Agency>)ViewBag.ctpbc;
}

<h2>Chi tiết phiếu báo cáo</h2>

<a class="btn btn-primary btnThemPhieuXuat" href="~/Report_Agency/Index">Quay về</a>
<hr />
<table class="table" border="1">
    <tr>
        <th>
            Mã sách
        </th>
        <th>
            Số lượng
        </th>
    </tr>

    @foreach (var item in a)
    {
        <tr>
            <td>
                @item.Book_id
            </td>
            <td>
                @item.quantity
            </td>
        </tr>
    }

</table>